.jumbotron {
  text-align: center;
  font-family: monospace;
  background-color: black;
  color: white;
}

body {
  background-color: lightblue;
  font-size: 18px;
  font-family: monospace;
}

h3 {
  color: maroon;
  font-weight: bold;
}

img {
  width: 100%;
  height: 300px;
}

#backEnd {
  display: none;
}

#frontEnd {
  display: none;
}

footer {
  padding-left: 70px;
}
/*#decision {

}*/
